<div class='adminEditPage'>
  <div class='adminHeader'>アカウント編集</div>
  <div class='container'>
    <%= form_for current_organizer, url: registration_path(current_organizer) do |f| %>
      <div class="form-group">
        <%= f.label '管理者名' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '団体名' %>
        <%= f.text_field :group, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'スポーツ種別' %>
        <%= f.text_field :sport, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'メールアドレス' %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '電話番号' %>
        <%= f.text_field :number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '団体紹介' %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>

      <div class="form-group">
        イメージ画像:
        <%= f.file_field :icon %>
      </div>

      <div class="form-group">
        <%= f.label '更新するにはパスワードを入力してください' %>
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn adminSubmitBtn" %>
      </div>

    <% end %>
  </div>
</div>
