<%= render"layouts/admin-header"%>
<div class='usershowPage'>
<h2>イベント一覧/h2>
<div class="container">
  <div class="row">
    <% @events.reverse_each do |interest| %>
    <div class="col-xs-12 col-md-6 picture-panel"></div>
  </div>
  <div class="card" style="padding:10px">
    <div class="card-header">
      イベント名：<%= interest.title%>
    </div>
    <div class="card-header">
      イベント主催者:
    </div>
    <div class="card-header">
      場所：<%= interest.place%>
    </div>
    <div class="card-header">
      日程：<%= interest.starttime.strftime("%Y-%m-%d %H:%M:%S")%>
        ~ <%= interest.endtime.strftime("%Y-%m-%d %H:%M:%S")%>
        （申し込み期限:<%= interest.deadline.strftime("%Y-%m-%d %H:%M:%S")%>）
    </div>
    <div class="card-header">
      興味を持っている人：<%= interest.interests.count%>
    </div>
    <% if interest.image %>
        <%= image_tag(interest.image, :class =>"card-image")%>
   <% end %>
   <div class="card-header">
     <%= interest.content%>
   </div>
   <% end %>
</div>
