<%= render'admin-header'%>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="wrapper">
        <div class="column profile-image">
          <div class="info">
              <% if current_organizer.id == @organizer.id %>
              <div class='userInfo_img'>
                <% if @organizer.icon.url(:thumb) %>
                  <%= image_tag @organizer.icon.url(:thumb),:size => "200*200",class: 'img-responsive' %>
                <% else %>
                  <%= image_tag "noimage" %>
                <% end %>
              </div>
              <div class='userInfo_name'>管理者名：<%= @organizer.name%></div>
              <div class='userInfo_name'>所属団体：<%= @organizer.group%></div>
              <div class='userInfo_name'>スポーツカテゴリ：<%= @organizer.sport %></div>
              <div class='userInfo_name'>電話番号：<%= @organizer.number%></div>
              <div class='userInfo_name'>紹介文:<%= @organizer.introduction %></div>
                <div class='userAction'>
                  <div class="userAction_edit userAction_common">
                    <%= link_to(content_tag(:i, "", class: 'fas fa-edit fa-2x'), edit_organizer_registration_path) %>
                    <span>プロフィール編集</span>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="column cat2">
        <div class="info">
        <%= link_to(content_tag(:i, "イベント管理", class: 'btn btn-outline-danger info_bar'), :controller  => "events",:action => "manage") %><br>
        <%= link_to "新規イベント", new_event_path,class: "btn btn-outline-danger info_bar" %><br>
        </div>
      </div>
    </div>
  </div>
</div>
