<%= render'admin-header'%>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="wrapper">
        <div class="column profile-image">
          <div class="info">
              <% if current_organizer.id == @organizer.id %>
            <table class="table" style="table-layout:fixed;width:100%;" border="1">
              <colgroup>
                  <col style="width:40%;">
                  <col style="width:60%;">
              </colgroup>
            <thead>
              <tr>
                <%= image_tag @organizer.icon.url(:thumb)  if @organizer.icon.url(:thumb)%>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">管理者名：</th>
                <td style="word-wrap:break-word;"><%= @organizer.name%></td>
              </tr>
              <tr>
                <th scope="row">所属団体：</th>
                <td style="word-wrap:break-word;"><%= @organizer.group%></td>
              </tr>
              <tr>
                <th scope="row">スポーツカテゴリ：</th>
                <td><%= @organizer.sport %></td>
              </tr>
              <tr>
                <th scope="row">電話番号：</th>
                <td><%= @organizer.number%></td>
              </tr>
              <tr>
                <th scope="row">メールアドレス：</th>
                <td><%= @organizer.email%></td>
              </tr>
              <tr>
                <th scope="row">紹介文</th>
                <td><%= @organizer.introduction %></td>
              </tr>
            </tbody>
          </table>
                <div class='userAction'>
                  <div class="userAction_edit userAction_common">
                    <%= link_to(content_tag(:i, "", class: 'fas fa-edit fa-2x'), edit_organizer_registration_path) %>
                    <span>プロフィール編集</span>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="column cat2">
        <div class="info">
          <%= link_to "イベント一覧", events_path,class: "btn btn-outline-danger info_bar" %><br>
        <%= link_to "イベント管理", organizers_path,class: "btn btn-outline-danger info_bar" %><br>
        <%= link_to "新規イベント", new_event_path,class: "btn btn-outline-danger info_bar" %><br>
        </div>
      </div>
    </div>
  </div>
</div>
