<%= render'layouts/user-header'%>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="wrapper">
        <div class="column profile-image">
          <div class="info">
            <div class="form-group" border="1">
              <%= image_tag @user.icon.url(:thumb)  if @user.icon.url(:thumb)%>
            </div>
            <table class="table" style="table-layout:fixed;width:100%;" border="1">
              <colgroup>
                  <col style="width:30%;">
                  <col style="width:70%;">
              </colgroup>
            <thead>
              <tr><%= image_tag @user.icon.url(:thumb)  if @user.icon.url(:thumb)%></tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">名前:</th>
                <td style="word-wrap:break-word;"><%= @user.name%>さん</td>
              </tr>
              <tr>
                <th scope="row">興味のあるスポーツ：</th>
                <td style="word-wrap:break-word;"><%= @user.sport%></td>
              </tr>
              <tr>
                <th scope="row">自己紹介:</th>
                <td><%= @user.introduction %></td>
              </tr>
            </tbody>
          </table>
          <div class='userInfo_name'>
            <%if current_user.following?(@user) %>
              <div class='btn alert-danger' id='liked'>友達リクエスト送信済</div>
            <% else %>
              <%= render 'follow', {reaction: @reaction} %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
