<%= render"layouts/user-header"%>
<div class='usershowPage'>
<h2>興味あり一覧</h2>
<div class="container">
  <div class="row">
    <% @interests_event.reverse_each do |interest| %>
    <div class="col-xs-12 col-md-6 picture-panel"></div>
  </div>
  <div class="card" style="padding:10px">
    <div class="card-header">
      イベント名：<%= interest.title%>
    </div>
    <div class="card-header">
      イベント主催者:
    </div>
    <div class="card-header">
      場所：<%= interest.place%>
    </div>
    <div class="card-header">
      日程：<%= interest.startdate%>
        （申し込み期限:<%= interest.duedate%>）
    </div>
    <div class="card-header">
      興味を持っている人：<%= interest.interests.count%>
    </div>
    <% if interest.image %>
        <%= image_tag(interest.image, :class =>"card-image")%>
   <% end %>
   <div class="card-header">
     <%= interest.content%>
   </div>
   <% end %>
</div>
