<%= render'layouts/user-header'%>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="wrapper">
        <div class="column profile-image">
          <div class="info">
            <div class='userInfo_img'>
              <% if @user.icon.url(:thumb) %>
                <%= image_tag @user.icon.url(:thumb),:width=>"600", height:"500" %>
              <% else %>
                <%= image_tag "noimage.jpg"%>
              <% end%>
            </div>
            <div class='userInfo_name'><%= @user.name%>さん</div>
            <div class='userInfo_name'>興味のあるスポーツ：<%= @user.sport%></div>
            <div class='userInfo_name'><%= @user.introduction %></div>
              <% if current_user.id == @user.id %>
                <div class='userAction'>
                  <div class="userAction_edit userAction_common">
                    <%= link_to(content_tag(:i, "", class: 'fas fa-edit fa-2x'), edit_user_registration_path) %>
                    <span>プロフィール編集</span>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="column cat2">
        <div class="info">
        <%= link_to "イベント一覧", events_path,class: "btn btn-outline-danger info_bar" %><br>
        <%= link_to(content_tag(:i, "参加予定イベント", class: 'btn btn-outline-danger info_bar'), :controller  => "users",:action => "paticipants") %><br>
        <%= link_to(content_tag(:i, "ブックマーク", class: 'btn btn-outline-danger info_bar'), :controller  => "users",:action => "bookmarks") %><br>
        <%= link_to(content_tag(:i, "興味あるイベント", class: 'btn btn-outline-danger info_bar'), :controller  => "users",:action => "interests") %><br>
        <%= link_to "チャット",chatusers_path,class: "btn btn-outline-danger info_bar" %><br>
        <%= link_to(content_tag(:i, "友達リクエスト", class: 'btn btn-outline-danger info_bar'), :controller  => "users",:action => "followers") %>
        </div>
      </div>
    </div>
  </div>
</div>
