<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<head>
  <meta charset="UTF-8">
</head>
<body>
	  <%= render "admin-header"%>
	<p><%= notice %></p>
	<div class="container">
		<div class="row">
			<% @events.reverse_each do |event| %>
			<div class="col-xs-12 col-md-6 picture-panel"></div>
		</div>
		<div class="card" style="padding:10px">
      <div class="card-header">
				イベント名：<%= event.title%>
      </div>
			<div class="card-header">
				場所：<%= event.place%>
      </div>
			<div class="card-header">
				日程：<%= event.starttime.strftime("%Y-%m-%d %H:%M:%S")%>
	        ~ <%= event.endtime.strftime("%Y-%m-%d %H:%M:%S")%>
					（申し込み期限:<%= event.deadline.strftime("%Y-%m-%d %H:%M:%S")%>）
      </div>
			<div class="card-header">
				参加人数：『後で追加する』/<%= event.number%>
      </div>
			<% if event.image %>
				  <%= image_tag(event.image, :class =>"card-image")%>
		 <% end %>
		 <div class="card-header">
			 <%= event.content%>
			 <div class="picture-edit">
           <% if current_organizer.id == event.organizer_id %>
             <%= link_to '詳細', event_path(event.id),{class:"btn btn-primary"} %>
             <%= link_to '削除',  event_path(event.id), method: :delete, data:{confirm: 'Are you sure?'},class: 'btn btn-danger' %>
             <%= link_to '編集', edit_event_path(event.id), class: 'btn btn-info' %>
           <% end %>
			 </div>
		 </div>
		 <% end %>
   </div>
</body>
</html>

<style>
.modal-content{
	height:150%;
	width:150%;
}

.user_info{
  border-radius: 50%;
  border: inset 4px #ff0000;
}
</style>
