<%= render"layouts/user-header"%>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        イベント名：<%= @event.title%>
      </div>
      <div class="card-header">
        場所：<%= @event.place%>
      </div>
      <div class="card-header">
        日程：<%= @event.starttime%>
         ~ <%= @event.endtime%>
        （申し込み期限:<%= @event.deadline%>）
        <%#.strftime("%Y-%m-%d %H:%M")%>
      </div>
      <div class="card-header">
        <!-- 参加予定の人数をカウントして、追加する-->
        <% if @event.paticipants.count < @event.number %>
          参加人数：<%= @event.paticipants.count %>/<%= @event.number %>
        <% else %>
          定員数に達したので、参加できません。
        <% end%>
      </div>
      <% if @event.image %>
        <%= image_tag(@event.image, :class =>"card-image",:width=>"600", height:"500")%>
      <% end %>
      <div class="card-body"><%= @event.content%></div>
      <div class="card-footer">
        <div class="picture-edit">
          <%= render "reaction" %>
          <%= render "interest"%>
        </div>
      </div>
       <div class="card-footer">
          <p>コメント一覧</p>
            <div id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
           </div>
           <%= render partial: 'comments/form', locals: { comment: @comment, event: @event} %>
      </div>
    </div>
  </div>
</div>
