<%= render"layouts/user-header"%>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        イベント名：<%= @event.title%>
      </div>
      <div class="card-header">
        場所：<%= @event.place%>
      </div>
      <div class="card-header">
        日程：<%= @event.starttime.strftime("%Y-%m-%d %H:%M:%S")%>
         ~ <%= @event.endtime.strftime("%Y-%m-%d %H:%M:%S")%>
        （申し込み期限:<%= @event.deadline.strftime("%Y-%m-%d %H:%M:%S")%>）
      </div>
      <div class="card-header">
        <!-- 参加予定の人数をカウントして、追加する-->
        <% if @event.paticipants.count < @event.number %>
          参加人数：<%= @event.paticipants.count %>/<%= @event.number %>
        <% else %>
          定員数に達したので、参加できません。
        <% end%>
      </div>
      <% if @event.image %>
        <%= image_tag(@event.image, :class =>"card-image")%>
      <% end %>
     <div class="card-body">
       <%= @event.content%>
     </div>
     <div class="card-footer">
       <div class="picture-edit">
         <% if @interest.present? %>
				   <%= link_to '興味ありを解除する', interest_path(id: @interest.id), method: :delete, class: 'btn btn-danger' %>
         <% else %>
				   <%= link_to '興味あり', interests_path(event_id: @event.id), method: :post, class: 'btn btn-info' %>
         <% end %>
         <% if @bookmark.present? %>
				   <%= link_to 'ブックマークを解除する', bookmark_path(id: @bookmark.id), method: :delete, class: 'btn btn-danger' %>
         <% else %>
				   <%= link_to 'ブックマークする', bookmarks_path(event_id: @event.id), method: :post, class: 'btn btn-info' %>
         <% end %>
         <% if @paticipant.present? %>
				   <%= link_to '参加をキャンセルする', paticipant_path(id: @paticipant.id), method: :delete, class: 'btn btn-danger' %>
         <% else %>
				   <%= link_to '参加予定にする', paticipants_path(event_id: @event.id), method: :post, class: 'btn btn-info' %>
         <% end %>
       </div>
     </div>
     <% if @interest.present? %>
     <div class="card-footer">
       <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
         興味を持っているユーザー
       </button>

       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">ユーザー一覧</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body"style="height:100%;witdh:100%;">
                 <% @user_interests.each do |userInterest| %>
                   <%= userInterest.user.name %>
                   (<%= userInterest.user.sex %>)
                   <%= link_to 'プロフィールを見る', users_path(id: userInterest.user.id), class: 'btn btn-info' %>
                   <!-- 興味あるを押したユーザーだけが友達リクエストを送れるようにする-->
                   <%# if @interests.present %>
        				     <%#= link_to '友達リクエストをキャンセルする', paticipant_path(id: @paticipant.id), method: :delete, class: 'btn btn-danger' %>
                   <%# else %>
        				     <%#= link_to '友達リクエストを送る', paticipants_path(event_id: @event.id), method: :post, class: 'btn btn-info' %>
                   <%# end %>
                   <!--上記を変更する -->
                   <br>
                <% end %>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>
     </div>
     <% end %>
   </div>
 </div>
</div>
