<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div class="chatPage">
  <header class="header">
    <%= link_to "", chatusers_path, class: "linkToMatching" %>
    <div class="chatPartner">
      <div class="chatPartner_name">
        <strong>
         メッセージ
        </strong>
      </div>
    </div>
  </header>
<div class="container">
    <div class="messagesArea messages">
      <% @chatmessages.each do |message| %>
        <% if message.body.present? %>
        <div class="message">
          <span><%= message.user.name %>:</span>
          <div class="commonMessage">
            <div><%= message.body %></div>
          </div>
          <%= message.message_time %>
          <% if message.user == current_user %>
            <%= message.read ? '既読' : '未読' %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
</div>
<div>
  <div class="messageInputForm">
    <div class='container'>
      <%= form_with(model: [@chatuser, @chatmessage]) do |f| %>
        <div class="field">
          <%= f.text_area :body, class: "form-control" %>
        </div>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
        <div>
          <%= f.submit "メッセージを送る" ,class:"btn btn-outline-danger"%>
        </div>
      <% end %>
    </div>
  </form>
</div>
