<!DOCTYPE html>
<html>
  <head>
    <title>SportsME</title>
    <%= csrf_meta_tags %>
    <meta name="current_user_id" content="<%= current_user.id if current_user %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-info"><p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
